{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="row mt-3">
        <h1 class="text-center">Inscription</h1>
    </div>
    
    <div class="row">
        <div class="col-8 offset-2">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.pseudonym) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.photo) }}
           
            <div class="row mb-3">
                <div class="col-md-4 offset-md-2">
                 {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <div class="col-md-6 ">
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>
            </div>
                {#    todo : faire le style des boutons #}
                <div class="col-md-6 mx-auto">
                    <button class="btn btn-lg admin-button mb-3 w-100" type="submit">
                        Je me m'inscris
                    </button>
                </div>
           
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
{% block jsIncludes %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
