<div class="row">
    <div class="col-12 d-flex flex-column flex-md-row align-items-md-center" id="header">
        <div class="col-6 offset-3 col-md-4 offset-md-0">
            <a href="{{ path('main_home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo d'AuxoisFM" id="logo" class="img-fluid"></a>
        </div>
        
        {% if app.user %}
            <ul class="btn btn-light log-btn my-0 col-10 offset-1 col-md-2 offset-md-5">
                <li class="nav-item dropdown">
                    {# Texte du bouton du menu déroulant #}
                    <a class="nav-link dropdown-toggle" href="#" id="profil-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {# Affichage du prénom de l'utilisateur connecté #}
                        <i class="fa-solid fa-headphones me-1"></i>{{ app.user.pseudonym }}
                    </a>
                    {# Liste des boutons du menu déroulant #}
                    <div class="dropdown-menu col-12" aria-labelledby="profil-dropdown">
                        {# Bouton de la page mon profil #}
                        <a class="dropdown-item ms-0" href="{{ path('user_profile') }}" target="_blank">
                            <i class="fa-solid fa-circle-user me-1"></i>Profil
                        </a>
        
                        {# Bouton de la page Mon Emission #}
                        {% if app.user.roles[0] == "ROLE_ANIMATOR" or app.user.roles[0] == "ROLE_ADMIN" %}
                            <a class="dropdown-item ms-0" href="{{ path('show_list') }}">
                                <i class="fa-solid fa-radio me-1"></i>Emissions
                            </a>
                        {% endif %}
                        
                        
                        
                        {# Bouton de la page Administration #}
                        {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item ms-0" target="_blank" href="#
    {# todo {{ path('admin_panel_index') }} #}
    ">
                                <i class="fa-solid fa-gears me-1"></i>Administration
                            </a>
                        {% endif %}
                
                      
                    
                        {# Séparateur #}
                        <div class="dropdown-divider"></div>
                    
                        {# Bouton de la page de déconnexion #}
                        <a class="dropdown-item ms-0" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt me-1"></i>Déconnexion
                        </a>
                    </div>
                </li>
            </ul>
        {% else %}
            <div class="col-12 d-flex flex-row justify-content-center col-md-8 col-lg-12">
                <div class="col-4 offset-1 col-md-2 offset-md-5 me-md-4 col-lg-1 offset-lg-1 ">
                    <a href="{{ path('app_login') }}" class="btn btn-light log-btn me-md-2 ">Connexion</a>
                </div>
                <div class="col-4 col-md-2 me-md-4 col-lg-1">
                    <a href="{{ path('app_register') }}" class="btn btn-light log-btn ms-md-3">Inscription</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
    
    
