{% block body %}
    
    <div class="col-12">
        
        <div class="row">
            
            <div class="col-12 col-md-12 mx-auto">
                
                {% if shows %}
                    
                    <div class="row pt-5">
                        
                        <div class="col-12 table-responsive">
                            
                            <table class="align-middle table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Genre</th>
                                    <th scope="col">Animateur</th>
                                    <th scope="col">Prochaine émission</th>
                                    <th scope="col">Durée de l'émission</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Page de l'émission</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                
                                {% for show in shows %}
                                    <tr>
                                        
                                        <td>{{ show.name }}</td>
                                        <td> {% if show.genre is null %}
        
                                                Non précisé
    
                                            {% else %}
    
                                                {{ show.genre }}
    
                                            {% endif %}
                                            
                                        </td>
                                        <td>{{ show.animator }}</td>
                                        <td>{{ show.startDate|date_modify('+' ~ show.timeInterval)|date|format_date('full')|capitalize }} à {{ show.showTime|format_time('short') }}</td>
                                        <td>{{ show.showDuration|format_time(pattern="h'h'mm") }}</td>
                                       
                                        
                                        <td>
                                            {% if show.logo is null %}
                                                
                                                <img src="{{ asset('images/show_logo/default_logo.jpeg')|imagine_filter('show_logo') }}" alt="Logo par défaut" class="img-fluid
                                    img-thumbnail">
                                            
                                            {% else %}
                                                
                                                <img src="{{ asset('images/show_logo/'~ show.logo)|imagine_filter('show_logo') }}" alt="Logo de l'émission" class="img-fluid
                                    img-thumbnail show-list-logo">
                                            
                                            {% endif %}
                                        
                                        </td>
    
                                        <td><a href="{{ show.webPageLink }}" class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></a></td>
                                    </tr>
                                
                                {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                    
                    </div>
                
                {% else %}
                    <div class="alert alert-warning w-100 text-center">Aucune émission à afficher</div>
                {% endif %}
            </div>
        
        </div>
    </div>

{% endblock %}