{% extends 'base.html.twig' %}


{% block title %}Profil{% endblock %}

{% block body %}
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <h1 class="col-12 text-center text-light my-5">Mon profil</h1>
        </div>
        
        <div class="row">
            <div class="col-6 offset-3 profile-container">
                <div class="row">
                    <div class="col-8 offset-2 mt-4">
                        {% if app.user.photo is null %}#}
                            <img src="{{ asset('images/profil/default_profile.jpg')|imagine_filter('profil') }}" alt="Photo de profil par défaut" class="img-fluid img-thumbnail">
                        
                        {% else %}
                            
                            <img src="{{ asset('images/profil/'~ app.user.photo)|imagine_filter('profil') }}" alt="Photo de profil" class="img-fluid
                        img-thumbnail">
                        
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-3 text-center">
                        <a href="{{ path('user_edit_photo') }}" class="text-decoration-none text-dark ">Modifier la photo de profil</a>
                    </div>
                </div>
                <div class="row d-flex flex-row">
                    <div class="col-3 offset-2">
                        <span>Pseudonyme: </span>
                    </div>
                    <div class="col-6 d-flex flex-row">
                        <span class="user-profile-data user-pseudo">{{ app.user.pseudonym }}</span>
                        <div class="user-profile-form me-2 user-pseudo">
                            {{ form_start(pseudoForm) }}
                            {{ form_row(pseudoForm.pseudonym) }}
                        </div>
                        <div class="user-profile-form me-2 user-pseudo">
                            {{ form_row(pseudoForm.save) }}
                            {{ form_end(pseudoForm) }}
                        </div>
                        <div class="user-profile-form user-profile-cancel user-pseudo">
                            <button class="btn btn-danger px-3">X</button>
                        </div>
                    </div>
                </div>
                
                <div class="row d-flex flex-row">
                    <div class="col-3 offset-2">
                        <span>Email: </span>
                    </div>
                    <div class="col-6 d-flex flex-row">
                        <span class="user-profile-data user-email">{{ app.user.email }}</span>
                        <div class="user-profile-form me-2 user-email">
                            {{ form_start(emailForm) }}
                            {{ form_row(emailForm.email) }}
                        </div>
                        <div class="user-profile-form me-2 user-email">
                            {{ form_row(emailForm.save) }}
                            {{ form_end(emailForm) }}
                        </div>
                        <div class="user-profile-form user-profile-cancel user-email">
                            <button class="btn btn-danger px-3">X</button>
                        </div>
                    </div>
                </div>
                
                <div class="row d-flex flex-row">
                    <div class="col-3 offset-2">
                        <span>Inscrit le: </span>
                    </div>
                    <div class="col-6 d-flex flex-row">
                        <span>{{ app.user.registrationDate|date('d/m/Y à H\\hi') }}</span>
                    </div>
                </div>
                
                <div class="row d-flex flex-row">
                    <div class="col-3 offset-2">
                        <span>Compte: </span>
                    </div>
                    <div class="col-6 d-flex flex-row">
                        <span>{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : (is_granted('ROLE_ANIMATOR') ? "Animateur" : "Utilisateur")}}</span>
                    </div>
                </div>
                
                
            </div>
        </div>
    
    
    </div>
{% endblock %}
{% block jsIncludes %}
    {#  jQuery  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}



