{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    
    
    {# Lien pour revenir à la liste des articles #}
    <div class="row">
        <div class="col-3  mt-2 ms-2">
            <a href="{{ path('news_list') }}" class="btn btn-danger text-decoration-none text-light">Retour à la liste des articles</a>
        </div>
    </div>
    
    {# Affichage de l'article #}
    <div class="row">
        
        <div class="col-12 col-md-10 mx-auto">
            
            <article class="card-view my-2">
                <div class="row">
                    <h1 class="col-10 offset-1 text-center mt-3">{{ article.title }}</h1>
                </div>
                <div class="card-header-view d-flex flex-row justify-content-center">
                    <a href="{{ path('news_article_view', {'id': article.id, 'slug': article.slug }) }}"><img src="{{ asset("images/articles_covers/" ~ article.coverPicture) }}" alt="{{ article.title }}"/></a>
                </div>
                <div class="card-body-view">
                    
                    <div class="col-10 offset-1 mb-3">
                        {{ article.content|purify }}
                    </div>
                    <footer class="col-12 text-end blockquote-footer mt-0 mb-4">
                        Publié le <span class="text-black">{{ article.publicationDate|date('d/m/Y à H\\hi') }}</span>
                    </footer>
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="mt-3 mx-auto">
                            <a onclick="return confirm('Êtes-vous sur de vouloir modifier cet article ?')" href="{{ path('news_article_edit', {'id': article.id}) }}" class="text-decoration-none text-warning me-3"> <i class="fa-solid  fa-pen-to-square me-2"></i> Modifier </a>
                            
                            <a onclick="return confirm('Êtes-vous sur de vouloir supprimer cet article ?')" href="{{ path('news_article_delete', {'id': article.id, 'csrf_token' : csrf_token('news_article_delete_' ~ article.id) }) }}" class="text-decoration-none text-danger"> <i
                                        class="fa-solid fa-trash-can me-2"></i> Supprimer </a>
                        </div>
                    
                    {% endif %}
                    
                    {# Espace commentaire #}
                    
                    <div class="col-12 col-md-10 mx-auto">
                        
                        <div class="comment-section p-4 my-4">
                            
                            <h2 class="text-center mb-5">Commentaires ({{ article.comments|length }})</h2>
                        {% if article.comments is not empty %}
                                
                          
                            {# Affichage des commentaires #}
                            {% for comment in article.comments %}
                            <div class="card card-white post mb-3">
                                <div class="post-heading d-inline-block">
                                    <div class="image">
                                        {% if comment.author.photo is null %}
                                            <img class="img-fluid" src="{{ asset('images/default_profile.jpg' ) }}" alt="Photo de profil par défaut">
                                        {% else %}
                                            <img src="{{ asset('images/profil/' ~ comment.author.photo) }}" class="img-circle avatar float-start" alt="Photo de profil de {{ comment.author.pseudonym }}">
                                        {% endif %}
                                        <div class="post-description ">
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                <div class="float-left meta ms-2">
                                    <div class="title h5">
                                        <p class="text-muted"><span><b>{{ comment.author.pseudonym }}</b></span> a laissé ce commentaire le <span class="text-muted time">{{ comment.publicationDate|date('d/m/Y à H\\hi') }}</span></p>
                                    </div>
                                </div>
                                {#                                             Si l'utilisateur est admin, affichage d'un bouton de suppression du #}
                                {#                                                commentaire #}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="admin-button-article me-3">
                                        <a href="{{ path('news_comment_delete', {'id': comment.id, 'csrf_token': csrf_token('comment_delete_' ~ comment.id) }) }}" class="text-danger text-decoration-none d-flex flex-row justify-content-end align-items-center my-2" onclick="return confirm('Êtes-vous ' +
                                     'sûr de ' +
                                     'vouloir supprimer' +
                                     ' ce ' +
                                     'commentaire ?')
"> <i class="fa-solid fa-trash-can"></i> Supprimer </a>
                                    </div>
                               
                                {% endif %}
                                </div>
                            </div>
                          
                            {% endfor %}
                        </div>
                    </div>
                    
                {% else %}
                    <p class="text-center alert alert-info">Aucun commentaire n'a été publié pour le moment.</p>
                    
                {% endif %}
                    {# Si l'utilisateur est connecté #}
                    {% if app.user %}
                        <h2 class="text-center my-5">Écrire un commentaire</h2>
                        <div class="col-10 offset-1">
                            {{ form(form) }}
                        </div>
    
                    {% else %}
                        <p class="text-center text-info mt-4"> Vous devez <a href="{{ path('app_login') }}">vous connecter</a> pour laisser un commentaire .</p>
                    {% endif %}
                </div>
            </article>
        </div>
    
    </div>
{% endblock %}



