{% extends 'base.html.twig' %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
    
    <div class="row text-center my-3">
        {% if app.user != null and app.user.roles[0] == "ROLE_ADMIN" %}
            <a href="{{ path('news_new_article') }}" class="btn btn-primary col-2 d-flex flex-row align-items-center justify-content-center ms-4">Créer un article</a>
            <h1 class="col-4 offset-2 fs-2">Liste des articles</h1>
            {% else %}
                <h1 class="col-4 offset-4 fs-2">Liste des articles</h1>
        {% endif %}
        <form class="d-flex col-3 ms-2" method="GET" action="{{ path('news_search') }}">
            <input name="s" class="form-control me-2" type="search" placeholder="Trouver un article" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        </form>
    
       
       
    </div>
    
    {% if articles is not empty %}
        
        {% for article in articles %}
            
            
            <div class="row">
                <div class="col-10 offset-1 d-flex flex-row flex-wrap">
                    {% for article in articles %}
                        <div class="card-list">
                            <div class="card-header-list">
                                <a href="{{ path('news_article_view', {'id': article.id, 'slug': article.slug }) }}">
                                    {% if article.category == "Emission de radio" or article.category == "Podcast" %}
                                        <img src="{{ asset("images/show_logo/" ~ article.coverPicture) }}" alt="{{ article.title }}"/>
                                    {% else %}
                                        <img src="{{ asset("images/articles_covers/" ~ article.coverPicture) }}" alt="{{ article.title }}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-body-list">
                                <span class="tag tag-teal mb-3">{{ article.category }}</span> <a href="{{ path('news_article_view', {'id': article.id, 'slug': article.slug }) }}"><h4>{{ article.title }}</h4></a>
                                <p>{{ article.content|striptags|excerpt(20) }}</p>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="d-flex flex-row justify-content-center">
                                <a href="{{ path('news_article_edit', {'id': article.id}) }}" class="text-decoration-none text-warning me-3 ms-1">
                                    <i class="fa-solid fa-pen-to-square me-1"></i>
                                    Modifier
                                </a>
        
                                <a onclick="return confirm('Êtes-vous sur de vouloir supprimer cet article ?')"
                                        href="{{ path('news_article_delete', {'id': article.id, 'csrf_token' : csrf_token('news_article_delete_' ~ article.id) }) }}"
                                        class="text-decoration-none text-danger">
                                    <i class="fa-solid fa-trash-can me-1"></i>
                                    Supprimer
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        {% endfor %}
        <div class="row">
            <div class="col-12 my-3 text-center">
                <div class="d-inline-block">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
        </div>
    {% else %}
        
        <div class="row">
            <p class="col-12 text-center alert alert-warning">Aucune publication à afficher</p>
        </div>
    {% endif %}
{% endblock %}