{% extends 'base.html.twig' %}
{% block title %}Liste des émissions de l'animateur{% endblock %}

{% block body %}
    
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <h1 class="col-12 text-center my-5">Mes Emissions</h1>
        </div>
        
        <div class="row">
            
            <div class="col-12 col-md-12 mx-auto">
                
                {% if app.user.radioShows %}
                    
                    <div class="row pt-5">
                        
                        <div class="col-12 table-responsive">
                            
                            <table class="align-middle table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Animateur</th>
                                    <th scope="col">Prochaine émission</th>
                                    <th scope="col">Durée de l'émission</th>
                                    <th scope="col">Page de l'émission</th>
                                    <th scope="col">Playlist importées</th>
                                    <th scope="col">Logo</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                
                                {% for show in app.user.radioShows %}
                                    <tr>
                                        
                                        <td>{{ show.name }}</td>
                                        <td>{{ show.animator }}</td>
                                        <td>{{ show.startDate|date_modify('+' ~ show.timeInterval)|date|format_date('full')|capitalize }} à {{ show.showTime|format_time('short') }}</td>
                                        <td>{{ show.showDuration|format_time(pattern="h'h'mm") }}</td>
                                        <td><a href="{{ show.webPageLink }}">{{ show.webPageLink }}</a></td>
                                        <td class="text-center">
                                            {% if not show.youtubeUrl and not show.spotifyUrl and not show.deezerUrl %}
                                                Aucune
                                            {% else %}
                                                <ul class="external_playlist">
                                                    {% if show.youtubeUrl %}
                                                        <li><a href="{{ show.youtubeURL }}" target="_blank"><i class="fa-brands fa-youtube me-1 my-2"></i>Youtube</a></li>
                                                    {% endif %}
                                                    {% if show.spotifyUrl %}
                                                        <li><a href="{{ show.spotifyURL }}" target="_blank"><i class="fa-brands fa-spotify me-1 my-2"></i>Spotify</a></li>
                                                    {% endif %}
                                                    {% if show.deezerUrl %}
                                                        <li><a href="https://www.deezer.com/fr/" target="_blank"><i class="fa-brands fa-deezer me-1 my-2"></i>Deezer</a></li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if show.logo is null %}
                                                
                                                <img src="{{ asset('images/show_logo/default_logo.jpeg')|imagine_filter('show_logo') }}" alt="Logo par défaut" class="img-fluid
                                    img-thumbnail">
                                            
                                            {% else %}
                                                
                                                <img src="{{ asset('images/show_logo/'~ show.logo)|imagine_filter('show_logo') }}" alt="Logo de l'émission" class="img-fluid
                                    img-thumbnail show-list-logo">
                                            
                                            {% endif %}
                                            
                                            </td>
                                        
                                        <td>
                                            <div>
                                                
                                                <a class="text-decoration-none text-warning me-3"
                                                        {#                todo:                                                href="{{ path('admin_panel_shop_edit_', {'id': shop.id}) }}" #}
                                                > <i class="fa-solid fa-pen-to-square"></i> Modifier </a>
                                            
                                            </div>
                                            <div class="mt-3">
                                                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette émission ?')" href="{{ path('show_delete', {'id': show.id, 'csrf_token' : csrf_token('show_delete' ~ show.id)}) }}" class=" text-decoration-none text-danger"> <i
                                                            class="fa-solid fa-trash-can"></i> Supprimer </a>
                                            
                                            </div>
                                        </td>
                                    </tr>
                                
                                {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                    
                    </div>
                
                {% else %}
                    <div class="alert alert-warning w-100 text-center">Aucune émission à afficher</div>
                {% endif %}
                <a href="{{ path('show_new_show') }}">
                    <button class="btn btn-primary mb-3">Créer une émission</button>
                </a>
            </div>
        
        </div>
    </div>
   
{% endblock %}



