{% extends 'base.html.twig' %}

{% block title %}{{ show.name }}{% endblock %}

{% block cssIncludes %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
{% endblock %}

{% block body %}
    
    
    <div class="row ">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center justify-content-center mt-5">
                {% if show.logo is null %}
                    
                    <img src="{{ asset('images/show_logo/default_logo.jpeg')|imagine_filter('show_logo') }}" alt="Logo d'émission par défaut" class="img-fluid img-thumbnail">
                
                {% else %}
                    
                    <img src="{{ asset('images/show_logo/'~ show.logo)|imagine_filter('show_logo') }}" alt="Logo de l'émission {{ show.name }}" class="img-fluid img-thumbnail show-webpage-logo ">
                
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h1 class="col-12 d-flex flex-row align-items-center justify-content-center my-4">{{ show.name }}</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-10 offset-1 d-flex flex-row align-items-center justify-content-center my-4">
            <p class="d-flex flex-column align-items-center justify-content-center" title="Ajoutez une description à l'émission">{{ display_dynamic_content( (show.slug ~ '-description'), show.slug) }} </p>
        </div>
    </div>
    
    <div class="row mt-3 me-1 d-flex flex-row">
    
    {% if not show.youtubeURL and not show.spotifyURL and not show.deezerURL %}
        <h2 class="col-12 d-flex flex-row align-items-center justify-content-center">Podcasts</h2>
        
        {% if app.user != null and (app.user.roles[0] == "ROLE_ANIMATOR" or app.user.roles[0] == "ROLE_ADMIN") %}
            <a href="" class="btn btn-primary col-4 offset-4">Ajouter un podcast</a>
        {% endif %}
        <div class="row">
            <h3>Playlist</h3>
            <div class="d-flex flex-column align-items-center justify-content-center">{{ display_dynamic_content( (show.slug ~ '-playlist'), show.slug) }}</div>
        </div>
    {% else %}
        <div class="col-8 separation-line">
        <h2 class="col-12 d-flex flex-row align-items-center justify-content-center my-3">Podcasts</h2>
            {% if app.user.roles[0] == "ROLE_ANIMATOR" or app.user.roles[0] == "ROLE_ADMIN" %}
                <a href="" class="btn btn-primary col-4 offset-4">Ajouter un podcast</a>
            {% endif %}
        {% set i = 0 %}
        {% for podcast in podcasts %}
          
            <div class="row ms-3 my-4">
                <h4 class="col-12">Emission du
{#                    {{ podcast.broadcastDate }} #}
                    :</h4>
            </div>
            <div class="row ms-3 ">
                <h6 class="col-6 d-flex flex-column" title="Ajoutez un nom à votre émission">{{ display_dynamic_content( (show.slug ~ '-podcast_name' ~ i ), show.slug) }}</h6>
            </div>
            
            <div class="row ms-3 d-flex flex-row align-items-center ">
                <div class="gap-audio-player col-9">
                    <audio>
                        <source src="{{ asset('audio/' ~ podcast.podcastLink) }}">
                    </audio>
                </div>
                
                <h5 class="col-3 d-flex flex-row align-items-center justify-content-center playlist-button" data-playlist="{{ i }}">Playlist<i class="fas fa-angle-down angle-{{ i }} ms-2 " data-angle="{{ i }}"></i></h5>
                
                <div class="col-8 offset-2 d-flex flex-column align-items-center justify-content-center playlist-display-{{ i }} d-none">{{ display_dynamic_content( (show.slug ~ '-playlist'
                    ), show.slug) }}</div>
            </div>
            
            {% set i = i + 1 %}
        {% endfor %}

        </div>
        {#        Affichage des widgets Youtube, Spotify et Deezer s'ils existent #}
        {% if show.youtubeURL %}
            <div class="col-4">
                {{ show.youtubeURL }}
            </div>
        {% endif %}
        
        {% if show.deezerURL %}
            <div class="col-4">
                {{ show.deezerURL }}
            </div>
        {% endif %}
        
        {% if show.spotifyURL %}
            <div class="col-4">
                {{ show.spotifyURL }}
            </div>
        {% endif %}
    {% endif %}
    </div>


{% endblock %}

{% block jsIncludes %}
    
    <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>
    <script src="{{ asset('js/gap-audio-player.js') }}"></script>
{% endblock %}



